html,
body {
  --primary: #101010;
  --background: #d5d5d5;
  --background2: rgba(178, 178, 168, 1);
  --highlight1: rgba(251, 239, 223, 1);
  --highlight2: rgba(231, 170, 44, 1);
  --highlight3: rgba(219, 76, 68, 1);
  /* --highlight3: #e4ff1a; */
  --wfBackground: rgba(63, 59, 55, 0.2);

  padding: 1rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--background);
  color: var(--primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
}

.page {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title-header {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-bottom: 6rem;
}

.title-header h1 {
  font-size: 7.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin: 0;
}

.header-info {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 5px solid var(--primary);
}

.header-info h2 {
  margin: 0 1rem 0 0;
}

.header-info a {
  font-size: 1.5rem;
  /* margin-left: 3rem; */
  font-weight: 600;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav a {
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.content {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
}

.category {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.info {
  padding: 0 1rem 1rem;
  max-width: 600px;
}

.info h3 {
  font-size: 1.5rem;
  margin: 0;
}

.text p {
  padding: 0 1rem;
}

.players {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
}

@media screen and (max-width: 1600px) {
  .category {
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (max-width: 1200px) {
  .category {
    grid-template-columns: 1fr;
  }
  .players {
    justify-items: center;
  }
  .info {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  .title-header {
    margin-bottom: 2rem;
  }

  .title-header h1 {
    font-size: 11vw;
    letter-spacing: 0.7vw;
  }
}

@media screen and (max-width: 500px) {
  .header-info a {
    font-size: 1rem;
  }

  .info {
    padding: 0;
  }
  .text p {
    padding: 0;
    font-size: 0.9rem;
  }
}
